@model Library.ViewModels.CreateOrUpdateReservationViewModel
@{
    ViewData["Title"] = "UpdateReservationForm";
    Layout = "~/Views/Reservations/_ReservationLayout.cshtml";
}

<form asp-action="CreateOrUpdateReservation" asp-controller="Reservations">
    <div class="form-group text-center">
        <label asp-for="Reservation.BookId" class="control-label"></label>
        <select asp-for="Reservation.BookId" asp-items="Model.BookList" class="form-control">
            <option value="" selected disabled>Izaberite naslov</option>
        </select>
        <span asp-validation-for="Reservation.BookId" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <label asp-for="Reservation.IsAccepted" class="control-label"></label>
        <input asp-for="Reservation.IsAccepted" class="form-control" />
    </div>
    @Html.HiddenFor(b => b.Reservation.Id)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Izmeni rezervaciju" class="btn btn-primary btn-block" />
    </div>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}