<div class="row">
    <div class="col-lg-12 text-center">
        <a asp-action="GetUsers" asp-controller="Accounts" class="btn btn-primary">Korisnici</a>
        <a asp-action="DisplayRoles" asp-controller="Accounts" class="btn btn-primary">Role</a>
        <a asp-action="CreateUserRoleForm" asp-controller="Accounts" class="btn btn-primary">Dodeli Rolu Korisniku</a>
    </div>
</div>
<hr />