@model Library.Models.LibraryModels.Author
@{
    ViewData["Title"] = "CreateAuthorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <form asp-action="CreateOrUpdateAuthor" asp-controller="Authors">
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" placeholder="Unesite naziv autora" required />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            @Html.HiddenFor(a => a.Id)
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Dodaj autora" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}